<%= simple_form_for([@vendor, @address]) do |f| %>
    <div class="control-group break_smaller">

      <%= f.label :country, 'Country' %>
      <%= f.select :country, @countries, {prompt: "Select Country"}, id: 'countries_id', class: 'form-control' %>
    </div>
    <div class="control-group break_smaller">
      <%= label_tag :state, ' Select State/Subdivision', class: 'control-group' %>
      <%= f.select(:state, options_from_collection_for_select([], [], [], params[:state]), {:prompt => "Select State"},
                   {"data-option-dependent" => true,
                    "data-option-observed" => "countries_id",
                    "data-option-url" => "#{states_path(":country:")}",
                    "data-option-key-method" => :state,
                    "data-option-value-method" => :state, :class => "form-control", :id => "countryStates"}) %>
     </div>
    <%= f.input :city, required: false %>
    <%= f.input :address1, required: false %>
    <%= f.input :address2, required: false %>
    <%= f.input :zip, required: false %>
    <%= f.input :other_details %>
    <%= f.hidden_field :vendor_id, :value => @vendor.id %>
    <%= button_tag(type: 'submit', class: "btn btn-success", id: "submitAddress") do %>
        <i class=" fa fa-plus-circle"></i> <%= @button_text %>
    <% end %>
    <%= link_to vendor_path(id: @vendor.id), :title => 'Back to Vendor',
                :rel => 'tooltip',
                type: 'button',
                class: 'btn btn-primary',
                style: 'color:white' do %>
        <i class="fa fa-arrow-circle-left"> Back</i>
    <% end %>
<% end %>

<% unless @address.state.blank? %>
    <div id="countryState" data-country="<%= states_path(@address.country) %>"></div>
    <script>
        $(document).ready(function () {
            var countryStateRoute = $("#countryState").data('country');
            var country = '<%=escape_javascript @address.country%>';
            var currentState = '<%=escape_javascript @address.state%>';
            $.ajax({
                url: countryStateRoute,
                data: country,
                dataType: "JSON",
                success: function (hash) {
                    var html = [];
                    var results = hash;
                    results[0].state = currentState;
                    for (var i = 0, len = results.length; i < len; ++i) {
                        html.push('<option value="' + results[i]['state'] + '">' + results[i]['state'] + '</option>');
                    }
                    $('#countryStates').append(html)
                }
            });
        });
    </script>
<% end %>
