<div class="top-page container-fluid col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12">
  <h2 class="break_top">Edit Plate Details for Shipment</h2>
<div class="break"><%= render 'shipment_files/status_step_bar' %></div>
  <%= form_tag({controller: "shipment_files", action: "show_plate"}, method: "get", :remote => true, id: 'editPlate', class: 'stepClass') do %>
      <div class = "shipment-bottles-class">
       <%= render "shipment_files/plate_partials/table" %>
      </div>
  <% end %>
<div class ="row">
  <div class="col-md-4">
    <%= link_to add_bottles_shipment_file_path(@shipment_file), {:style => 'color:white', class: "btn btn-primary"} do %>
        <i class="fa fa-arrow-circle-left">Add Bottles</i>
    <% end %>
    <%= link_to finalize_plate_shipment_file_path(@shipment_file), {:style => 'color:white', class: "btn btn-success"} do %>
        <i class="fa fa-arrow-circle-right">Finalize</i>
    <% end %>
  </div>
  <div class="alert alert-info alert-dismissible col-md-4 col-md-offset-4" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Info!</strong> Plate Barcode and Blinded Shipment IDs will be generated upon finalization of external shipment.
  </div>
</div>
</div>
<div id="record-modal" class="modal fade"></div>

<script>
    $('.stepClass').each(function(){
        var currentDot = "";
        var currentClass = ($(this).attr('class'));
        if ($(this).is(":visible")) {
            currentDot= $(this).attr("id");
        }
        var formId = currentDot;
        $('.bs-wizard-step').each(function () {
            var dotId = $(this).find(".bs-wizard-dot").attr("id");
            var combinedId = formId +"Dot";
            if (combinedId == dotId) {
                $(this).removeClass("disabled").addClass("active");
                $('#wizard-step-1').removeClass("active").addClass("complete");
                $('#wizard-step-2').removeClass("disabled").addClass("complete");
            }
        });
    });
</script>